PORT=8080
MONGODB_URL="mongodb://localhost:27017/ecommerce"
CORS_ORIGIN=*
TOKEN_SECERET=ardneranMpk2g4jdshckwdlkcmwdlcvvc
TOKEN_EXPIRY=7d
NODE_ENV="production"

CLOUDINARY_CLOUD_NAME=dgiuxfql4
CLOUDINARY_API_KEY=166545559174363
CLOUDINARY_API_SECRET=MZosoaJQw3gQDseXR7hBv_gJ7cY